set_io rw       1
set_io busen    2
set_io setov    3
set_io vecpull  4
set_io ready    7
set_io irq      8
set_io mlock    9
set_io nmirq   10
set_io sync    11

# set_io reset_fpga 17

set_io clock    20
set_io clockout 19

set_io leds[0] 34
set_io leds[1] 33
set_io leds[2] 32
set_io leds[3] 31
set_io leds[4] 29
set_io leds[5] 28
set_io leds[6] 26
set_io leds[7] 25

set_io flash_mosi 67
set_io flash_miso 68
set_io flash_sck  70
set_io flash_cs   71

set_io spi_clock 73
set_io spi_miso  74
set_io spi_mosi  75
set_io spi_cs[0] 76
set_io spi_cs[1] 78
set_io spi_cs[2] 79
set_io spi_cs[3] 80
set_io spi_cs[4] 81
set_io spi_cs[5] 82
set_io spi_cs[6] 83
set_io spi_cs[7] 84
set_io spi_exp0  85
set_io spi_exp1  87

set_io -pullup yes uart_irq     90
set_io uart_im      91
set_io uart_txbirq  93
set_io uart_rxbirq  94
set_io uart_rdn     95
set_io uart_wrn     96
set_io uart_txairq  97
set_io uart_rxairq  98
set_io uart_cs      99
set_io reset_inv   101

set_io via2_irq 104
set_io via2_cs  105
set_io via1_irq 106

set_io via1_cs  107

set_io sid_cs   12
set_io ram_cs   15

set_io addr[0]  110
set_io addr[1]  112
set_io addr[2]  113
set_io addr[3]  114
set_io addr[4]  115
set_io addr[5]  116
set_io addr[6]  117
set_io addr[7]  118
set_io addr[8]  119
set_io addr[9]  120
set_io addr[10] 121
set_io addr[11] 122
set_io addr[12] 124
set_io addr[13] 125
set_io addr[14] 128
set_io addr[15] 129
set_io addr[16] 130
set_io addr[17] 134
set_io addr[18] 135

set_io data[0] 136
set_io data[1] 137
set_io data[2] 138
set_io data[3] 139
set_io data[4] 141
set_io data[5] 142
set_io data[6] 143
set_io data[7] 144

set_io ext[0]  38
set_io ext[1]  39
set_io ext[2]  41
set_io ext[3]  42
set_io ext[4]  43
set_io ext[5]  44
set_io ext[6]  45
set_io ext[7]  47
set_io ext[8]  48
set_io ext[9]  49
set_io ext[10] 52
set_io ext[11] 55
set_io ext[12] 56
set_io ext[13] 60
set_io ext[14] 61
set_io ext[15] 62
